:root{
    --PrimaryColor : hsl(94,59%, 35%);
    --HoverColor: #bdf094;
    --paleGreen: hsl(96, 75%, 89%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --textColor: hsl(240, 1%, 48%);
    --bgColor: hsl(220, 10%, 94%);
    --greyText: rgb(190,190, 190);
    --inputColor: hsl(330, 12%, 97%);
    --itemCardColor: hsl(120, 5%, 88%);
    --itemCardHover: hsl(120,27%, 82%);

    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: .938rem;
    --smallFontSize: .813rem;
    --smallestFontSize: .75rem;
 }

 .listingSection{
    flex-basis: 70%;
 }

 .listingSection .heading{
    width: 100%;
    justify-content: space-between;
 }

 .listingSection h1{
    font-size: var(--h2FontSize);
    color: black;
    font-weight: 600;
 }

 .listingSection .btn{
    border: 1px solid transparent;
    font-weight: 500;
 }

 .listingSection .btn:hover{
    border: 1px solid var(--PrimaryColor)
 }

 .listingSection .secContainer{
    width: 100%;
    margin: 1rem 0;
    gap: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
 }

 .listingSection .singleItem{
    position: relative;
    width: 150px;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;
    margin-left: 2px;
    border-radius: 10px;
    background: var(--itemCardColor);
 }

 .listingSection .singleItem:hover{
    background: var(--itemCardHover);
    box-shadow: 0 2px 2px var(--inputColor);
 }
 .listingSection img{
    max-width: 100%;
 }

 .listingSection .icon{
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--PrimaryColor);
 }

 .sellers{
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
 }

 .topSellers .heading, .featuredSellers .heading{
    padding: 1rem 0;    
 }

 .topSellers .heading .btn, .featuredSellers .heading .btn{
    padding: .5rem 1rem;
 }


 .topSellers .heading .card, .featuredSellers .heading .card{
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    background: var(--whiteColor);
    gap: 1rem;
    box-shadow: 0 2px 4px var(--inputColor);
 }

 .topSellers .heading .card .users, .featuredSellers .heading .card .users{
    padding-right: 1rem;
    border-right: 2px solid var(--greyText);
 }
.users img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--inputColor);
    transition: .5s ease;
 }
 .heading .card .users img:hover{
    transform: translateY(-20px);
 }

 .card .cardText span{
   
        color: black;
        font-weight: 500;
 }
 .card .cardText span small{
    font-weight: 400;
 }

 .card .cardText span small .date{
    margin-left: 1rem;
 }

 @media screen  and (max-width:990px){
   .listingSection .sellers .card{
      flex-direction: column;
   }
 }

 @media screen  and (max-width:918px){
   .listingSection .singleItem{
      width:200px !important
   }
 }
 @media screen  and (max-width:480px){
   .listingSection .sellers .card{
      flex-direction: column;
   }
   .listingSection .sellers {
      flex-direction: column;
   
   }
 }